body, html {
    background: #f3fbfb;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
  }
  h1, h2, h3, h4, h5{
      font-weight:900;
      font-family: 'Oswald', sans-serif;
  }
.titletag {
    text-align: center;
}

.footer {
    background-color: #c7d1e2;
}

